RewriteEngine On

## Note: If you are installing Hazard system via Apache's "Alias"
##       configuration rather than plain subdirectory, then you need to
##       uncomment the "RewriteBase" line and *change it to your URI alias path*
##       or you'll get a nonsensical HTTP 400 Bad Request error.
##       See: http://httpd.apache.org/docs/current/mod/mod_rewrite.html#rewritebase
##
##       For example, from Apache configuration:
##         Alias /hazard "C:/prog/hazardproject"
##       the RewriteBase line will be
##         RewriteBase /hazard/
##
#RewriteBase /anthen-control/

RewriteRule ^$ signin.php

RewriteRule ^show$ show.php
RewriteRule ^show/$ show

RewriteRule ^new/([^\?].*)/$ edit.php?command=new&type=$1
RewriteRule ^new/([^\?].*)$ new/$1/

RewriteRule ^edit/([^\?].*)/([0-9]+)/$ edit.php?command=edit&type=$1&id=$2
RewriteRule ^edit/([^\?].*)/([0-9]+)$ edit/$1/$2/

RewriteRule ^scan$ scan.php
RewriteRule ^scan/$ scan

RewriteRule ^scan/([0-9]+)/$ scan.php?cardid=$1
RewriteRule ^scan/([0-9]+)$ scan/$1/

RewriteRule ^logout$ logout.php
RewriteRule ^logout/$ logout

RewriteRule ^delete/([^\?].*)/([0-9]+)/$ delete.php?type=$1&id=$2
RewriteRule ^delete/([^\?].*)/([0-9]+)$ delete/$1/$2/

#RewriteRule ^user/([0-9]+)/$ edituser.php?user=$1
#RewriteRule ^user/([0-9]+)$ user/$1/

